<%= form_for(user, remote: true) do |f| %>
  <div class="form-group">
    <%= f.label :first_name, "First Name"  %>
    <%= f.text_field :first_name, class: "form-control", placeholder: "Enter First Name", required: true  %>
  </div>
  <div class="form-group">
    <%= f.label :last_name, "Last Name"  %>
    <%= f.text_field :last_name, class: "form-control", placeholder: "Enter Last Name", required: true  %>
  </div>
  <div class="form-group">
    <%= f.label :address, "Address"  %>
    <%= f.text_field :address, class: "form-control", placeholder: "Enter Address", required: true  %>
  </div>
  <div class="form-group">
    <%= f.label :city, "City"  %>
    <%= f.text_field :city, class: "form-control", placeholder: "Enter City", required: true  %>
  </div>
  <div class="form-group">
    <%= f.label :zip, "Zip Code"  %>
    <%= f.text_field :zip, class: "form-control", placeholder: "Enter Zip Code", required: true  %>
  </div>
  <div class="form-group">
    <%= f.submit "Submit", class: "btn btn-info", style: "float:right;" %>
  </div>
<% end %>
